.progressBar {
    height: 0.5rem;
    width: 0%;
    border-radius: 0.25rem;
    background-image: linear-gradient(to right, #4f46e5, #7c3aed);
    transition: width 0.3s ease-in-out;
}

.dark .progressBar {
    background-image: linear-gradient(to right, #818cf8, #a78bfa);
}
